.chart{
   height:100%;
   width:75%;
}

.body{
    width:100vw;
    height:100vh;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5em;
    position: fixed;
}
.chartPage{
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: row;
    padding-top: 2em;
}

.buttons{
    width:90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:2em;
}

.forms{
    width:95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.input{
    width:50%;
    padding:1em;
    border:none;
    border-radius: 0.4em 0em 0em 0.4em;
    background-color: #F0F1F2;
}

.input2{
    width:50%;
    padding:1em;
    border:none;
    border-radius: 0em 0.4em 0.4em 0em;
    background-color: #F0F1F2;
    color:black;
    text-align: right;
}

.input4{
    width:50%;
    padding:1em;
    border:none;
    border-radius: 0em 0em 0em 0em;
    background-color: #F0F1F2;
    color:black;
    text-align: right;
}

.input4:focus{
    outline:none;
}
.input3{
    width:10%;
    padding:1em;
    border:none;
    border-radius: 0em 0.4em 0.4em 0em;
    background-color: #F0F1F2;
    color:black;
    text-align: right;
}
.input3:focus{
    outline:none;
}
.inputs{
    border:1pt solid transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 0.4em;
}


.confirmWrapper{
    position: fixed;
    z-index: 9999;
    width:100%;
    height:93%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmForm{
    display:flex;
    flex-direction: column;
    width:26em;
    height:30em;
    background-color: white;
    border-radius: 0.5em;
    gap:6em;
}

.confirmHeader{
    display: flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5em;
}

.confirmTitle{
    width:80%;
    font-family: 'Roboto', sans-serif;
    font-size:2em;
    position: relative;
    top:1em;
    text-align: center;
}
.successfulMessage{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1em;
    position:fixed;
    z-index: 9999;
    top:8%;
    left:83%;
    box-shadow:0 2px 4px -2px rgba(0,0,0,.2);
    color:#02BC7D;
    font-size: 1.2em;
    padding:0.5em;
    border-radius: 1em;
}
.confirmButton{
    border:none;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color:white;
    padding: 0.8em;
    border-radius: 0.5em;
    font-size: 1.2em;
    width: 90%;
    align-self: center;
}
.confirmTicker{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:90%;
    background-color: white;
    box-shadow:0 2px 4px -2px rgba(0,0,0,.2);
    padding:1em;
    border-radius: 0.5em;
}

.plus{
    color:green;
    font-family: 'Roboto', sans-serif;
    font-size:1.5em;
}

.minus{
    color:red;
    font-family: 'Roboto', sans-serif;
    font-size:1.5em;
}
.confirmTickerLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:60%;
    gap:0.5em;
}
.flexBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
}
.message{
    position: absolute;
    font-size:1em;
    z-index: 9999;
    top: -45px; /* Adjust as needed */
    left:-8px;
    text-align: left;
    background-color: #F5F5F5F5;
    box-shadow:0 2px 4px -2px rgba(0,0,0,.2);
    padding: 0.5em;
    width:auto;
    padding:0.4em;
    border-radius: 0.5em;
}
.inputsSpecial{
    border:1pt solid transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 0.4em;
}
.buyButton{
    border:none;
    border-radius: 0.4em;
    color:white;
    padding:1em;
    background-color: #5DC787;
    width:100%;
}

.drop{
    width:100%;
    height:100%;
}

.input:focus{
    outline:none;
}


.inputs:hover{
    border:1pt solid #449682;
}

.sellButton{
    border:none;
    border-radius: 0.4em;
    color:white;
    padding:1em;
    background-color: #E45561;
    width:100%;
}
.buy{
    width:45%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
}
.sell{
    width:45%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
}

.input2:focus{
    outline:none;
}


.errorMessage{
    width:100%;
    position:relative;
}
.text{
    font-family: 'Roboto', sans-serif;
    color:#727A88;
    font-weight: 500;
    font-size:0.8em;
    display: flex;
    width:100%;
    justify-content: flex-start;
    gap:0.6em;
}

.maxBuy{
    font-family: 'Roboto', sans-serif;
    color:#C19532;
    font-weight: 500;
    font-size:1em;
}
.form{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:55%;
    gap:2em;
}

.sellform{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:40%;
}

.limits{
    display: flex;
    flex-direction: column;
    height:46%;
    gap:1em;
    width:45%;
}

.button{
    width:10em;
    border:none;
    padding:0.5em;
    border-radius: 1em;
}
.ticker{
    width:100%;
}

.rightSide {
    display: flex;
    flex-direction: column;
    width:50%;
    height:50%;
    /* other styles as necessary */
  }
.watchList{
    width:100%;
    position:relative;
}
.addSymbol{
    position:relative;
    z-index:50;
    top:10%;
    left:97.5%;
    width:fit-content;
    height:auto;
    padding: 0.3em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addSymbol:hover{
    background-color: lightgray;

}

.logo{
    margin:0;
}
@media screen and (max-width:768px){
    .chart{
        width:100%;
    }
}