.chart{
   height:100%;
   width:75%;
}

.body{
    width:100vw;
    height:100vh;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5em;
    position: fixed;
}
.chartPage{
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: row;
    padding-top: 2em;
}

.buttons{
    width:90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:2em;
}

.forms{
    width:95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.input{
    width:50%;
    padding:1em;
    border:none;
    border-radius: 0.4em 0em 0em 0.4em;
    background-color: #F0F1F2;
}
.input2{
    width:50%;
    padding:1em;
    border:none;
    border-radius: 0em 0.4em 0.4em 0em;
    background-color: #F0F1F2;
    color:black;
    text-align: right;
}
.inputs{
    border:1pt solid transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 0.4em;
}
.buyButton{
    border:none;
    border-radius: 0.4em;
    color:white;
    padding:1em;
    background-color: #5DC787;
    width:100%;
}


.input:focus{
    outline:none;
}


.inputs:hover{
    border:1pt solid #449682;
}

.sellButton{
    border:none;
    border-radius: 0.4em;
    color:white;
    padding:1em;
    background-color: #E45561;
    width:100%;
}
.buy{
    width:45%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
}
.sell{
    width:95%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
}

.text{
    font-family: 'Roboto', sans-serif;
    color:#727A88;
    font-weight: 500;
    font-size:0.8em;
    display: flex;
    width:100%;
    justify-content: flex-start;
}
.form{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:55%;
    gap:2em;
}

.sellform{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:40%;
}

.limits{
    display: flex;
    flex-direction: column;
    height:46%;
    gap:1em;
    width:45%;
}

.button{
    width:10em;
    border:none;
    padding:0.5em;
    border-radius: 1em;
}
.ticker{
    width:100%;
}

.rightSide {
    display: flex;
    flex-direction: column;
    width:50%;
    height:50%;
    /* other styles as necessary */
  }
.watchList{
    width:100%;
    position:relative;
}
.addSymbol{
    position:relative;
    z-index:50;
    top:10%;
    left:97.5%;
    width:fit-content;
    height:auto;
    padding: 0.3em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addSymbol:hover{
    background-color: lightgray;

}

.logo{
    margin:0;
}
@media screen and (max-width:768px){
    .chart{
        width:100%;
    }
}