@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.container{
    width:100vw;
    height:100vh;
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}


.nav{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow:0 2px 4px -2px rgba(0,0,0,.2);
    top:0;
    background-color: white;
    z-index: 9997;
    position: sticky;
    min-height:4em;
}

.innerNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.6em;
    width:90%;
}

.topWidget{
    width:90%;
    height:30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.widgets{
    width:100%;
    height:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
    padding-top: 2em;
}

.widget{
    height:100%;
    width:30%;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    padding:1em;
}

.middleWidget{
    width:87%;
    height:40%;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    border-radius: 0.5em;
    padding: 1em;
}
.WidgetTitle{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
}
.body{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

}

.leftNav{
    height:100%;
    width:20%;
    background-color: #363A3F;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.leftTitle{
    max-width:100%;
    padding:1em;
    border-bottom: 1pt solid lightgray;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color:white;
}

.BottomWidget{
    width:90%;
    display:flex;
    flex-direction: row;
    height:15%;
    align-items: center;
    justify-content: space-around;
}

.bottomWidget{
    width:30%;
    height:100%;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    padding: 1em;
    border-radius: 0.5em;
}

.text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:1em;
    gap:1em;
    max-width: 100%;
    color:white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1pt solid lightgray;
}

.option{
    width:90%;
    border-radius: 0.6em;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:0.8em;
    color:white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    align-self: center;
    padding:0.5em;

    margin-top: 1em;
}

.option:hover{
    background-color: #317EF6;
}



