@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.container{
    width:100vw;
    max-width: 100%;
    height:90vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    width:80%;
    height:10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:1em;
}

.errorMessage{
    display: flex;
    flex-direction: column;
    width:100%;
}
.payCurrency{
    width:70%;
    height:90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:1em;
}

.payCurrencyText{
    font-family: 'Roboto', sans-serif;
    color:#21262F;
    margin-top: 0.2em;


}
.rightSide{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    gap:2em;
}

.buySellForm{
    width:80%;
    height:70%;
    border:1pt solid lightgray;
    border-radius:0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.2em;
}

.stepText{
    display: flex;
    flex-direction: column;
    gap:1em;
    width:70%;
    font-family: 'Roboto', sans-serif;
}

.stepHeader{
    color:#21262F;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size:1.3em;
}
.step{
    width:80%;
    height:21%;
    border:1pt solid lightgray;
    border-radius: 0.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.buttons{
    width:100%;
    height:10%;
   display: flex;
   flex-direction: row;

}

.button{
    grid-area: button;
    width:50%;
    height:100%;
    border:none;
    background-color: white;
    color:#21262F;
    font-weight: bold;
    font-size:1.5em;
    border-top-left-radius: 0.5em;
}

.button2{
    grid-area: button2;
    font-weight: bold;
    width:50%;
    height:100%;
    border:none;
    background-color:#F5F5F5;
    color:#B8BDC5;
    font-size:1.5em;
    border-top-right-radius: 0.5em;
}

.payWidget{
    width:100%;
    height:100%;
    border: 1pt solid lightgray;
    background-color: lightgray;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.confirmCancel{
    width:90%;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}
.input{
    width:70%;
    height:100%;
    border:none;
    color:#21262F;
    font-size: 2em;
    text-align: left;
    font-family: 'Arial ',sans-serif;
    font-weight: 700;
}

.payCancel{
    align-self: flex-start;
    margin-top: 1em;
    margin-left: 7em;
}

.amountInput{
    width:100%;
    height:100%;
    border:1pt solid lightgray;
    padding:0.2em;
    color:#21262F;
    font-size: 2em;
    text-align: left;
    vertical-align: center;
    font-family: 'Arial ',sans-serif;
    font-weight: 700;
}

.amountInput:focus{
    outline:none;
}
.input:focus{
    outline:none;
}
.dropDown{
    width:100%;
    position:relative;
    left:7.5%;
    top:-2%;
}

.dropDownMenu{
    width:85%;
    height:20vh;
    z-index:9999;
    position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
}
.test{
    width:105%;
    height:20vh;
    z-index:9999;
    position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;

}

.currencyForm{
    width:95%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1pt solid lightgray;
    border-radius:1em;
    overflow: scroll;
    gap:1em;
}

.search:focus{
    outline:none;
    border:1pt solid #5AA056;
}
.currencyTicker{
    display: flex;
    flex-direction: row;
    gap:1em;
    width:88%;
}
.search{
    width:80%;
    margin-top: 5%;
    background-color: transparent;
    padding:1em;
    border: 1pt solid lightgray;
    border-radius: 0.5em;
}
.test2{
    top:25%;
    right:2%;
    width:100%;
    height:100%;
    position:relative;
}
.pay{
    margin-top: 15%;
    width:80%;
    height:20%;
    display: flex;
    flex-direction: column;
    gap:1em;
}
.spendHeader{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    width:90%;
    margin-top: 0.5em;
    height:20%;
    
}
.currencyButton{
    width:30%;
    height:90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    gap:0.5em;
}



.text{
    display: flex;
    align-items: flex-end;
    margin-top:0.2em;
    font-size:1.5em;
}
.inputs{
    width:90%;
    display: flex;
    height:100%;
    flex-direction: row;
    align-items: center;
}


 .spend, .recieve{
    width:80%;
    height:15%;
    border: 1pt solid lightgray;
    padding:0.5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
}

.amount{
    color:#21262F;
    font-weight: bold;
    font-size:1.5em;
    font-family: 'Roboto', sans-serif;
}
.payText{
    
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}


.successfulMessage{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1em;
    position:fixed;
    z-index: 9999;
    top:8%;
    left:83%;
    box-shadow:0 2px 4px -2px rgba(0,0,0,.2);
    color:#02BC7D;
    font-size: 1.2em;
    padding:0.5em;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:#21262F;
    font-size:4em;
}
.option{
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


.depositHeader{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:#21262F;
    font-size:4em;
    width:80%;
}

.DepositForm{
    width:32em;
    height:25em;
    display: flex;
    flex-direction: column;
    gap:0.5em;
    padding:3em;
    overflow: hidden;
}
.depositForm{
    width:80%;
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.depositLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.5em;
}

.depositButton{
    display: flex;
    flex-direction: row;
    width:93%;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    border:1pt solid lightgray;
    padding:1em;
}
.grayText{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color:gray;
    margin-top:2em;
}

.currencyWrapper{
    position: fixed;
    z-index: 9999;
    width:100%;
    height:93%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailsForm{
    width:30em;
    height:19em;
    background-color: white;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
}

.fullName, .cardNumber{
   border:1pt solid lightgray;
   padding:0.5em;
   color:#21262F;
   font-family: 'Roboto', sans-serif;
   font-size:1.2em;
   width:80%;
   text-align: left;
}

.fullName:focus, .cardNumber:focus, .cVV:focus{
    outline:none;
}
.expCVV{
    width:85%;
    display: flex;
    flex-direction: row;
    gap:1em
}

.detailsHeader{
    width:80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}

.headerText{
    color:#21262F;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   font-size:1.2em;
}

.payButton{
    width:85%;
    border:none;
    padding:0.4em;
    background-color:black;
    font-family: 'Roboto' sans-serif;
    border-radius: 0.5em;
    color:white;
    font-size: 1.5em;
}

.select{
    background-color: transparent;
    border: none;
}
.expFlex{
    width:80%;
    display: flex;
    flex-direction: row;
    gap:1em;
    align-items: center;
}

.exp, .cVV{
    border:1pt solid lightgray;
    padding:0.5em;
    color:#21262F;
    font-family: 'Roboto', sans-serif;
    font-size:1.2em;
    width:100%;
    text-align: left;
}
.detailsWrapper{
    position: fixed;
    z-index: 9999;
    width:100%;
    height:93%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.paytext{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:#21262F;
    font-size: 1.5em;
}
.payOption{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.5em;
    margin-top:3em;
}

.continue{
    width:100%;
    background-color: #5AA056;
    border:none;
    border-radius: 0.5em;
    padding:1em;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
.radio{
    width:1.5em;
    height:1.5em;
}
.depositText{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:#21262F;
    font-size: 1.5em;
}

.dropdownText{
    width:60%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:#21262F;
    font-size: 1em;
}


.cancel{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
}

.currencies{
    display: flex;
    flex-direction: column;
    gap:1em;
    align-items: center;
    overflow: scroll;
    width:100%;
}
.dropDownSearch{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.currencyDropdown{
    background-color: white;
    width:20%;
    height:30%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap:1em;
    border-radius: 1em;
}
.deposit{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    width:50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body{
    width:80%;
    height:90%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.confirmWrapper{
    position: fixed;
    z-index: 9999;
    width:100%;
    top:7.5%;
    height:94%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmForm{
    width:30em;
    height:30em;
    background-color: white;
    border-radius: 0.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
}

.confirmationTitle{
    width:80%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:#21262F;
    font-size: 2.5em;
    margin-top: 1em;
}

.buying, .selling{
    width:80%;
    padding:1em;
    border:1pt solid lightgray;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.buyingCoin{
    width:60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1em;
}

.amountGetting{
    color:green;
    font-family: 'Roboto' sans-serif;
    font-size:1.5em;
    width:40%;
    text-align: right;
}

.confirmButton{
    margin-top: 4em;
    width:85%;
    border:none;
    padding:0.4em;
    background-color:black;
    font-family: 'Roboto' sans-serif;
    border-radius: 0.5em;
    color:white;
    font-size: 1.5em;
}
.amountPaying{
    color:red;
    font-family: 'Roboto' sans-serif;
    font-size:1.5em;
    width:40%;
    text-align: right;
}
.buying{
    margin-top:2em;
}