
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container{
    width:100vw;
    height:auto;
    max-width: 80%;
    margin: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
    padding-top:3.5em;
}

.filterClick{
    display: flex;
    flex-direction: column;
    height:3em;
    gap:0.4em;
}
.underline{
    display: none;
    width:2em;
    height:0.3em;
    align-self: center;
    background-color: #5AA056;
}
.coinHeader{
    display:flex;
    flex-direction: row;
    align-items: center;
    width:40%;
    justify-content: flex-start;
    gap:0.5em;
}

.pageTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    width:90%;
    color:#484D56;
    font-size:2.5em;

    margin:0;
    padding: 0;
}
.overView{
    justify-content:center;
    width:90%;
    display: flex;
    flex-direction: row;
    gap:1.5em;
    align-items: center;
}

.overViewsymbol{
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    font-size:1em;
}

.overViewTicker{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
}
.overViewtTitle{
    font-family: "Roboto", sans-serif;
    font-weight:400;
    font-size: 0.8em;
    color:#484D56;
    
}

.dataOverview{
    height:9em;
    width:25%;
    border: 1pt solid lightgray;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:1em;
    justify-content: space-around;
}
.pageNumbers{
    display: flex;
    flex-direction: row;
}
.nextPage{
    display: flex;
    flex-direction: row;
    width:95%;
    align-items: center;
    gap:0.5em;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    color:#484D56;
    margin-bottom: 5em;
}
.nameFilter, .priceFilter, .capFilter, .volFilter{
    display: flex;
    flex-direction: row;
    gap:0.3em;
    align-items: center;
}

.nameFilter{
    width:40%;
}
.arrow:hover{
    background-color: lightgray;
    border-radius: 0.5em;
    padding:0.5em;
}
.arrow{
    padding: 0.5em;
}
.dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.changeFilter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:0.3em;
}


.liked{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:12%;

}
.changeDropdown:hover{
    border:1pt solid #5AA056;
}
.changeDropdown{
    color:gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1pt solid lightgray;
    background-color: white;
    border-radius: 0.3em;
    padding:0.5em;
    gap:0.3em;
    position: relative;
    width:5em;
}

.dropDownMenu{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    height:7em;
    border: 0.3px solid #ccc; /* Adjust the color to match your design */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    background-color: #fff;
    width:4em;
    border-radius: 0.4em;
}

.changeOption{
    padding:0.5em;

    color:gray;
}

.changeOption:hover{
    background-color: lightgray;
}
.priceData{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    width:60%;

}

.coinName{
    display: flex;
    flex-direction: row;
    gap:0.2em;
    align-items: center;
}

.pageNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.5em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5em;
    width:1.2em;
}

.pageNumber:hover{
    background-color: lightgray;
    color:black;
    border-radius: 0.5em;
}
.symbol{
    color: black;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}


.searchBar{
    width:90%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    margin-top: 2em;
}


.filter{
    width:90%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    height:3vh;
    font-family: Arial, Helvetica, sans-serif;
    color:gray;
}
.toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.1em;
}
.filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    width:55%;
    height:100%;
    text-align: center;
}
.form{
    display: flex;
    align-items: center;
    flex-direction: row;
    height:5vh;
}
.input{
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1em;
    border:none;
}

.input:focus{
    outline:none;
}
.form:hover .searchHover{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.5em;
    padding:0.5em;
    border: 1pt solid lightgray;
    border-radius: 0.6em;
    max-height: 100%;
}

.searchHover{
    display: none;
}



.form:hover .search{
    display: none;
}


.search{
    width:2em;
    height:2em;
    margin: 0;
}

.searchIcon{
    width:2.5em;
    height:2.5em;
    margin:0;
    display: flex;
    align-items: center;
}
.search2{
    width:2em;
    height:2em;
    margin: 0;
}


.button{
    border: none;
    background-color: transparent;
    box-shadow: none;
    font-size: 1.2em;
    color:gray;
}

.button:hover section{
    color:black;
}

.buttonClicked{
    border: none;
    background-color: transparent;
    box-shadow: none;
    font-size: 1.2em;
    color:black;
}

.options{
    display: flex;
    flex-direction: row;
    gap:1.5em;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}

.coins{
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price, .marketCap, .change, .volume{
    width:25%;
}
.price, .change, .volume, .marketCap{
    text-align: center;
}

.plus{
    color:green;
}

.overViewPlus{
    color:green;
    width:35%;
    text-align: center;
}
.overViewMinus{
    color:red;
    width:35%;
    text-align: center;
}
.overViewcoinHeader{
    display: flex;
    flex-direction: row;
    gap:0.8em;
    width:35%;
}
.overViewPrice{
    width:25%;
    color:#484D56;
    text-align: center;
}
.minus{
    color:red;
}
.name{
    color:gray;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    margin:0;
}

.ticker{
    display:flex;
    flex-direction: row;
    width:100%;
    height:100%;
    padding:1em;
    justify-content: center;
}

.ticker:hover{
    background-color: #EFF1F3;
}