.body{
    width:100vw;
    max-width: 100%;
    height:93vh;
    display: flex;
    justify-content: center;
    background: radial-gradient(circle at top left, rgba(255, 183, 197, 0.3) 0%, rgba(255, 183, 197, 0) 70%),
    radial-gradient(circle at top right, rgba(140, 199, 255, 0.3) 0%, rgba(140, 199, 255, 0) 70%),
    radial-gradient(circle at bottom left, rgba(165, 233, 168, 0.3) 0%, rgba(165, 233, 168, 0) 70%),
    radial-gradient(circle at bottom right, rgba(255, 255, 155, 0.3) 0%, rgba(255, 255, 155, 0) 70%);
    background-color: #f8f8f8; /* This is the base color */
}


.container{
    background-color: white;
    height:17em;
    width:20em;
    margin:auto;
    display: grid;
    grid-template-rows: 1fr 0.6fr 0.6fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    'logo logo . . .'
    '. . . . .'
    'header header header header header'
    '. . . . .'
    'subheader subheader subheader subheader subheader'
    '. . . . .'
    'username username username username username'
    'message message message message message'
    '. . button button button';

    padding:3em;
    overflow: hidden;
}

.resetPassword{
    display: flex;
    flex-direction: column;
    gap:2em;
}
.heading{
    display: flex;
    flex-direction: row;
    grid-area: logo;
    height:2em;
    align-items: center;
    justify-content: flex-start;
    gap:0.5em;
    font-size: 1.2em;
    color:grey;
    font-family: Arial, Helvetica, sans-serif;
   
}

.dummyButton{
    background-color: transparent;
    border-radius: 0;
    color:white;
    border:none;
    width: 100%;
    height:3em;
}

.error{
    grid-area: message;
    color: #d9190c;
    font-family: Arial, Helvetica, sans-serif;
}

.password{
    width:100%;
    border:none;
    border-bottom: 1pt solid grey;
    font-size:1.2em;
    padding-bottom: 0.3em;

}

.password:focus{
    outline:none;
}

.username:focus{
    outline:none;
}
.verificationCode{
    display: flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    justify-content: center;
    gap:0.3em;
}

.verificationNum{
    width:15%;
    border-radius: 0.5em;
    border:none;
    background-color: #c4c4c4;
    height:3em;
    text-align: center;
}
.logo{
    margin:0;
}
.header{
    grid-area: header;
    font-weight: bold;
    font-size:1.5em;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;

}

.subheader{
    grid-area: subheader;
    font-size:1.1em;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
}

.form{
   grid-area: username;
}

.buttons{
    grid-area:button;
    display: flex;
    flex-direction: row;
    gap:0.2em;
}

.button{
    background-color: #0548e9;
    border-radius: 0;
    color:white;
    border:none;
    width: 100%;
    height:3em;
}

.username{
    width:100%;
    border:none;
    border-bottom: 1pt solid grey;
    font-size:1.2em;
    padding-bottom: 0.3em;
}


.greyButton{
    background-color: #c4c4c4;
    border-radius: 0;
    color: black;
    border:none;
    width: 100%;
    height:3em;
}