.heading{
    display:flex;
    align-items: center;
    gap:0.5em;
    padding-left: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.leftNav{
    display:flex;
    flex-direction: row;
    width:85%;
    align-items: center;
    justify-content: flex-start;
    gap:1em;
}

.dropDown:hover .toggleMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
}

.dropDown{
    position: relative;
}
.rightOption{
    display: flex;
    flex-direction: column;
    gap:0.2em;
}
.boldText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.Icon{
    margin:0;
}

.subHeading{
    color:gray;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.toggleMenu{
    background:white;
    width:15em;
    height:auto;
    padding: 3em 2em 2em 2em;
    position: absolute;
    display: none;
    border-radius: 0 0 0.5em 0.5em;
}


.boldText:hover{
    color:#5AA056;
}
.menuOption{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1em;
    width:100%;
   
}
.loginLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1em;
}
.title{
    font-weight:bold;
}
.logo{
    margin:0;
}
.links{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    padding-right:0.5em;
    gap:1em;
    align-items: center;
    width:30%;
    height:100%;
}

.welcome{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.nav{
    display: flex;
    flex-direction: column;
    width:100vw;
    max-width: 100%;
    box-shadow:0 2px 4px -2px rgba(0,0,0,.2);
    top:0;
    background-color: white;
    z-index: 9997;
    position: sticky;
    height:4em;
    justify-content: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .lite{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight:bold
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #C7CF24;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #C7CF24;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100vw;
    max-width: 100%;
    margin:0;
    height:100%;

}

.link{
    width:auto;
    text-decoration: none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1em;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.button{
    background-color:#C7CF24;
    border: none;
    border-radius: 0.3em;
    padding:0.5em;
    height:auto;
    width:auto;
    text-decoration: none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1em;
}

.mobileLink{
    text-decoration: none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: all;
}
.menu{
   display: none;
   margin: 0;
}

.burgerMenu{
    display: none;
}




@media screen and (max-width:768px){
    .links{
        display:none;
    }
    .loginLinks{
        display: none;
    }

    .menu{
        display: inline;
        margin: 0;

        padding-right:0.5em;
    }

    .burgerMenu{
        display: block;
    }
}