.ListTableContainer {
    max-height: 225px; /* Adjust based on how many rows you want to show before scrolling */
    overflow-y: auto;
    border-collapse: collapse;
    margin: auto;
}

#ListTable {
    width: 100%;
    max-width: 95%; /* this will help not to touch the sides */
    margin-left: 2rem ;
    margin-right: 2rem;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(149, 149, 149);
    overflow: hidden; 
}

.ListHeader {
    background-color: #f5f5f5;
    font-weight: bold;
    border: 2px solid rgb(149, 149, 149);
    padding: 12px 15px;
}

.ListRow {
    transition: background-color 0.3s ease; /* For a hover effect */
}

.ListRow:hover {
    background-color: #f5f5f5; /* Highlight on hover */
}

.ListItem {
    padding: 12px 15px;
    text-align: center;
    border: 2px solid rgb(149, 149, 149);
}

/* Last child border removal */
.ListItem:last-child {
    border-bottom: none;
}

#PageHeader
{
    margin-top: 0.2rem;
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


